
body {
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    overflow: hidden;
}
html{
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    overflow: hidden;
}
h1{
    margin: 0px;
}
h2{
    margin: 0px;
    color: rgb(73, 73, 73);
}